<div class="container">
  <mat-card style="margin-top: 75px; margin-bottom: 10px">
    <div *ngIf="dataAvailable">
      <h1>{{service.name}}</h1>
      <mat-grid-list cols="2" rowHeight="100px" style="margin-top: 25px">
        <mat-grid-tile colspan="1" rowspan="5" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
          <div style="width: 100%; height: 100%">
            <div class="grid-item" *ngIf="!service.image">
              <img src="https://www.jainsusa.com/images/store/landscape/not-available.jpg" style="height: 75%; width: auto">

              <div style="width: 100%; text-align: center; margin-bottom: 0" [hidden]="!showImageButtons">
              <span matTooltip="Add a photo" matTooltipPosition="below">
                <button mat-icon-button color="primary" (click)="toggleUploadForm()"><mat-icon>add_circle_outline</mat-icon></button>
              </span>
              </div>
            </div>

            <div class="grid-item" *ngIf="service.image">
              <img [src]="imageUrl">

              <div style="width: 100%; text-align: center; margin-bottom: 0" [hidden]="!showImageButtons">
                <span matTooltip="Edit photo" matTooltipPosition="below">
                  <button mat-icon-button color="primary" (click)="toggleEditForm()"><mat-icon>edit</mat-icon></button>
                </span>

                <span matTooltip="Delete photo" matTooltipPosition="below">
                  <button mat-icon-button color="warn" (click)="deleteImage()"><mat-icon>delete</mat-icon></button>
                </span>
              </div>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="5">
          <div class="grid-item">
            <div *ngIf="service.rating">
              <div *ngIf="service.rating > 0">
                <p>Rating: <strong>{{service.avgRating}}</strong>/5</p>
              </div>
            </div>

            <div *ngIf="service.category">
              <p><strong>Category: </strong>{{service.category}}</p>
            </div>

            <div>
              <p><strong>Price: </strong>Rs. {{service.price}}.00</p>
            </div>

            <div *ngIf="service.location">
              <p><strong>Location: </strong>{{service.location}}</p>
            </div>

            <div *ngIf="service.district">
              <p><strong>District: </strong>{{service.district}}</p>
            </div>

            <div>
              <p><strong>Sold by: </strong><a [href]="sellerProfile">{{seller}}</a></p>
            </div>

            <div *ngIf="service.availableDays || service.startTime || service.endTime">
              <p>
                <strong>Available</strong>
                <span *ngIf="service.availableDays"><strong>on </strong>{{service.availableDays}}</span>
                <span *ngIf="service.startTime"><strong>from </strong>{{service.startTime}}</span>
                <span *ngIf="service.endTime"><strong>to </strong>{{service.endTime}}</span>
              </p>
            </div>

            <div class="buttons" *ngIf="isOwner">
              <button mat-fab color="primary" (click)="editService()">Edit</button>
              <button mat-fab color="warn" (click)="deleteService()">Delete</button>
            </div>

            <div class="buttons" *ngIf="isCustomer" style="width: 100%;">
              <span matTooltip="Favourite Item" matTooltipPosition="below" *ngIf="!isFav">
                <button mat-mini-fab color="primary" (click)="favService()"><mat-icon>favorite</mat-icon></button>
              </span>

              <span matTooltip="Unavourite Item" matTooltipPosition="below" *ngIf="isFav">
                <button mat-mini-fab color="warn" (click)="unfavService()"><mat-icon>favorite</mat-icon></button>
              </span>

              <button mat-raised-button color="primary" (click)="reqService()" style="float: right" *ngIf="!isReq">Request Service</button>
              <button mat-raised-button color="warn" (click)="cancelRequest()" style="float: right" *ngIf="isReq">Cancel Request</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div style="width: 50%">
        <div style="width: 100%; height: 100%">
          <div class="custom-file" id="customFile" lang="es" style="margin: 25px; width: 100%" *ngIf="showUploadForm">
            <form #form (submit)="addImage()" enctype="multipart/form-data">
              <input
                ngModel
                (change)="getFiles($event)"
                type="file"
                name="file"
                id="file"
                accept="image/jpeg, image/png"
                class="custom-file-input"
                style="width: 20%"
              >
              <label class="custom-file-label" for="file" style="width: 60%">
                Select File...
              </label>
              <button mat-raised-button type="submit" style="float: right; margin-right: 40px;">Upload</button>
            </form>
          </div>

          <div class="custom-file" id="customFileEdit" lang="es" style="margin: 25px; width: 100%"
               *ngIf="showEditForm">
            <form #form (submit)="editImage()" enctype="multipart/form-data">
              <input
                ngModel
                (change)="getFiles($event)"
                type="file"
                name="fileEdit"
                id="fileEdit"
                accept="image/jpeg, image/png"
                class="custom-file-input"
                style="width: 20%"
              >
              <label class="custom-file-label" for="fileEdit" style="width: 60%">
                Select File...
              </label>
              <button mat-raised-button type="submit" style="float: right; margin-right: 40px;">Upload</button>
            </form>
          </div>
        </div>
      </div>

      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile colspan="2">
          <div class="grid-item" *ngIf="service.description">
            <br/>
            <p><strong>Description</strong></p>
            {{service.description}}
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <div class="grid-item" *ngIf="service.extraNotes">
            <br/>
            <p><strong>Extra Notes</strong></p>
            {{service.extraNotes}}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>Reviews</mat-card-title>

    <div *ngIf="!reviewsAvailable">
      No reviews have been added for this item
    </div>

    <div *ngIf="reviewsAvailable">
      <div *ngFor="let review of this.reviews">
        <mat-card style="margin-bottom: 5px">
          <h3><strong><a href="/users/customer/{{review.customer.id}}">{{review.customer.username}}</a></strong></h3>

          <p>Rating: <strong>{{review.rating}}</strong>/5</p>
          <p>{{review.review}}</p>

          <div *ngIf="review.customer.id === loggedUser">
            <button mat-raised-button color="primary" (click)="editReview(review)">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteReview(review)">Delete</button>
          </div>
        </mat-card>
      </div>
    </div>

    <span matTooltip="Add Review" matTooltipPosition="after" *ngIf="!reviewAdded && isCustomer" style="position:absolute; bottom: 10px; right: 10px">
      <button mat-mini-fab color="primary" (click)="addReview()"><mat-icon>add</mat-icon></button>
    </span>
  </mat-card>
</div>
