<mat-toolbar color="primary">

  <button mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon></button>

  <!-- This fills the remaining space of the current row -->
  <!--<span class="fill-remaining-space">-->
    <!--<form>-->
      <!--<div id="search-form">-->
        <!--<button type="submit" mat-button style="float: right"><mat-icon>search</mat-icon> Search</button>-->
        <!--<div class="form-group" style="overflow: hidden; padding-right: .5em;">-->
          <!--<input class="form-control" type="text" placeholder="Search..." style="width: 100%;" />-->
        <!--</div>​-->
      <!--</div>-->
    <!--</form>-->
  <!--</span>-->

  <div fxLayout="row" fxShow="false" fxShow.gt-sm style="width: 100%">

    <form id="search-form">
      <div>
        <button type="submit" mat-button style="float: right"><mat-icon>search</mat-icon> Search</button>
        <div class="form-group" style="overflow: hidden; padding-right: .5em;">
          <input class="form-control" type="text" placeholder="Search..." style="width: 100%;" />
        </div>​
      </div>
    </form>

    <div class="menu-buttons">
      <button mat-button [routerLink]="['/register']"><mat-icon>person_add</mat-icon> Register</button>
      <button mat-button [routerLink]="['/login']"><mat-icon>person</mat-icon> LogIn</button>
      <button mat-button [routerLink]="['/profile']"><mat-icon>account_circle</mat-icon> Profile</button>
      <button mat-button (click)="onLogoutClick()"><mat-icon>person_outline</mat-icon> LogOut</button>
    </div>


  </div>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm class="menu-buttons">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <form mat-menu-item>
    <div>
      <button type="submit" mat-button style="float: right"><mat-icon>search</mat-icon></button>
      <div class="form-group" style="overflow: hidden; padding-right: .5em;">
        <input class="form-control" type="text" placeholder="Search..." style="width: 100%;" />
      </div>​
    </div>
  </form>
  <button mat-menu-item [routerLink]="['/register']"><mat-icon>person_add</mat-icon> Register</button>
  <button mat-menu-item [routerLink]="['/login']"><mat-icon>person</mat-icon> LogIn</button>
  <button mat-menu-item [routerLink]="['/profile']"><mat-icon>account_circle</mat-icon> Profile</button>
  <button mat-menu-item><mat-icon>person_outline</mat-icon> LogOut</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
