.reg-form-field {
  width: 90%;
}

#reg-user {
  /*text-align: center;*/
  /*margin-top: 10px;*/
  width: 50%;
}

mat-card {
  text-align: center;
  margin: 20px;
  /*width: 50%;*/
}

form {
  text-align: center
}
