<div *ngIf="dataAvailable">
  <mat-card>

    <mat-card-title>Edit User</mat-card-title>

    <mat-card-content>

      <form (submit)="onEditSubmit()">

        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Name" matInput type="text" [(ngModel)]="user.name" name="name">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Username" matInput type="text" [(ngModel)]="user.username" name="username">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="reg-form-field">
            <span matPrefix>+94 &nbsp;</span>
            <input placeholder="Telephone Number" matInput type="text" [(ngModel)]="user.telephone" name="telephone" maxlength="9">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="reg-form-field">
            <span matPrefix>+94 &nbsp;</span>
            <input placeholder="Mobile Number" matInput type="text" [(ngModel)]="user.mobile" name="mobile" maxlength="9">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Address" matInput type="text" [(ngModel)]="user.address" name="address">
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="basic" (click)="onCancel()" type="button">Cancel</button>
        </div>

      </form>

    </mat-card-content>

    <!--<a [routerLink]="['/profile/editAcc']" id="editAccLink">Edit Email/Password</a>-->

  </mat-card>
</div>


