<div class="container">
  <mat-card style="margin: 10px 0">
    <mat-card style="margin-bottom: 20px">
      <mat-grid-list cols="4" rowHeight="150px">
        <mat-grid-tile>
          <div style="height: 100%; width: 100%; margin-right: 10px; text-align: center; padding: 0 10px">
            <mat-card style="margin: 10px 0">
              <div style="width: 100%; height: 100%">
                <p>
                  <span style="font-size: 40px;"><strong>N</strong></span>
                  <br/>
                  <span style="float: right; color: grey">Items</span>
                </p>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div style="height: 100%; width: 100%; margin-right: 10px; margin-left: 10px; text-align: center; padding: 0 10px">
            <mat-card style="margin: 10px 0">
              <div style="width: 100%; height: 100%">
                <p>
                  <span style="font-size: 40px;"><strong>N</strong></span>
                  <br/>
                  <span style="float: right; color: grey">Services</span>
                </p>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div style="height: 100%; width: 100%; margin-right: 10px; margin-left: 10px; text-align: center; padding: 0 10px">
            <mat-card style="margin: 10px 0">
              <div style="width: 100%; height: 100%">
                <p>
                  <span style="font-size: 40px;"><strong>N</strong></span>
                  <br/>
                  <span style="float: right; color: grey">Sellers</span>
                </p>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div style="height: 100%; width: 100%; margin-left: 10px; text-align: center; padding: 0 10px">
            <mat-card style="margin: 10px 0">
              <div style="width: 100%; height: 100%">
                <p>
                  <span style="font-size: 40px;"><strong>N</strong></span>
                  <br/>
                  <span style="float: right; color: grey">Customers</span>
                </p>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>


    <mat-card style="margin-bottom: 20px">
      <mat-card-title>
        Statistics on New Additions
      </mat-card-title>

      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Items">
            <div>
              chart
            </div>
          </mat-tab>

          <mat-tab label="Services">
            <div>
              chart
            </div>
          </mat-tab>

          <mat-tab label="Sellers">
            <div>
              chart
            </div>
          </mat-tab>

          <mat-tab label="Customers">
            <div>
              chart
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-bottom: 20px">
      <mat-card-title>
        Top Rated
      </mat-card-title>

      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Sallers">
            <div style="margin: 20px;">
              <h5>n. <a href="#"><strong>username</strong></a></h5>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rating: n</p>
              <hr>
            </div>
          </mat-tab>

          <mat-tab label="Items">
            <div style="margin: 20px;">
              <h5>n. <a href="#"><strong>name</strong></a></h5>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rating: n</p>
              <hr>
            </div>
          </mat-tab>

          <mat-tab label="Services">
            <div style="margin: 20px;">
              <h5>n. <a href="#"><strong>name</strong></a></h5>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rating: n</p>
              <hr>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-bottom: 20px">
      <mat-card-title>
        Top Users
      </mat-card-title>

      <mat-card-content>
        <div style="width: 100%; height: 100%">
          <mat-card style="margin-bottom: 20px">
            <h5>
              Top Sellers
            </h5>

            <mat-tab-group>
              <mat-tab label="Selling">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Items for sale: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services for sale: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>

              <mat-tab label="Sold">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Items sold: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services sold: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>

              <mat-tab label="Requests">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pending requests for items: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pending requests for services: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>

              <mat-tab label="Favorites">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Favorited items: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Favorited services: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>

        <div style="width: 100%; height: 100%">
          <mat-card>
            <h5>
              Top Customers
            </h5>

            <mat-tab-group>
              <mat-tab label="Buys">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Items bought: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services bought: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>

              <mat-tab label="Requests">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pending requests for items: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pending requests for services: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>

              <mat-tab label="Favorites">
                <mat-tab-group>
                  <mat-tab label="Items">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Favorited items: n</p>
                      <hr>
                    </div>
                  </mat-tab>

                  <mat-tab label="Services">
                    <div style="margin: 20px;">
                      <h5>n. <a href="#"><strong>username</strong></a></h5>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Favorited services: n</p>
                      <hr>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Top Sales
      </mat-card-title>

      <mat-card-content>
        <div style="width: 100%; height: 100%">
          <mat-card style="margin-bottom: 20px">
            <h5>
              Top Items
            </h5>

            <mat-tab-group>
              <mat-tab label="Bought">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of buys: n</p>
                  <hr>
                </div>
              </mat-tab>

              <mat-tab label="Favorited">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of favorites: n</p>
                  <hr>
                </div>
              </mat-tab>

              <mat-tab label="Requested">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of pending requests: n</p>
                  <hr>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>

        <div style="width: 100%; height: 100%">
          <mat-card style="margin-bottom: 20px">
            <h5>
              Top Services
            </h5>

            <mat-tab-group>
              <mat-tab label="Bought">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of buys: n</p>
                  <hr>
                </div>
              </mat-tab>

              <mat-tab label="Favorited">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of favorites: n</p>
                  <hr>
                </div>
              </mat-tab>

              <mat-tab label="Requested">
                <div style="margin: 20px;">
                  <h5>n. <a href="#"><strong>name</strong></a></h5>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of pending requests: n</p>
                  <hr>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
