<div *ngIf="dataAvailable">
  <mat-card>
    <mat-card-title>Edit Service</mat-card-title>

    <mat-card-content>
      <form (submit)="onEditService()">
        <div>
          <mat-form-field class="add-service-field">
            <input placeholder="Name" matInput type="text" [(ngModel)]="service.name" name="name" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="add-service-field">
            <input placeholder="Category" matInput type="text" [(ngModel)]="service.category" name="category">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="add-service-field">
            <input matInput placeholder="Price" type="number" [(ngModel)]="service.price" name="price" required id="price">
            <span matPrefix>Rs.&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="add-service-field">
            <input placeholder="District" matInput type="text" [(ngModel)]="service.district" name="district">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="add-service-field">
            <textarea matInput placeholder="Description" [(ngModel)]="service.description" name="description"></textarea>
          </mat-form-field>
        </div>

        <div>
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile colspan="2">
              <mat-form-field class="grid-option">
                <mat-select placeholder="Available Days" [(value)]="service.availableDays">
                  <mat-option value="Everyday">
                    Everyday
                  </mat-option>

                  <mat-option value="Weekdays">
                    Weekdays
                  </mat-option>

                  <mat-option value="Weekdays and Saturday">
                    Weekdays + Saturday
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <mat-form-field class="grid-option">
                <div matTooltip="Enter in 24hr format (HH:MM)" matTooltipPosition="below">
                  <input placeholder="From" matInput type="text" [(ngModel)]="service.startTime" name="startTime">
                </div>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <mat-form-field  class="grid-option">
                <div matTooltip="Enter in 24hr format (HH:MM)" matTooltipPosition="below">
                  <input placeholder="To" matInput type="text" [(ngModel)]="service.endTime" name="endTime">
                </div>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div>
          <mat-form-field class="add-service-field">
            <textarea matInput placeholder="Extra notes on avalability" [(ngModel)]="service.extraNotes" name="extraNotes"></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
