<mat-card>

  <mat-card-title>Register User</mat-card-title>

  <mat-card-content>

    <form (submit)="onRegisterSubmit()">

      <div>
        <mat-form-field class="reg-form-field">
          <input placeholder="Name" matInput type="text" [(ngModel)]="name" name="name" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="reg-form-field">
          <input placeholder="Username" matInput type="text" [(ngModel)]="username" name="username" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="reg-form-field">
          <input placeholder="Email" matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="reg-form-field">
          <input type="password" matInput placeholder="Password" [type]="hidePass ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="reg-form-field">
          <input type="password" matInput placeholder="Confirm password" [type]="hideConfPass ? 'password' : 'text'" [(ngModel)]="confPass" name="confPass" required>
          <mat-icon matSuffix (click)="hideConfPass = !hideConfPass">{{hideConfPass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>

      <!--<div>-->
        <!--<input type="file" ngModel name="profPic" id="profPic">-->
      <!--</div>-->

      <div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>

    </form>

  </mat-card-content>

</mat-card>
