<div class="container">
  <mat-card style="margin-top: 75px; margin-bottom: 10px">
    <div *ngIf="dataAvailable">
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile colspan="1" rowspan="2">
          <div class="grid-item">
            <img src="https://cdn.takas.lk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/a/samsung_50_4.jpeg">
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="2">
          <div class="grid-item">
            <div>
              <h1>{{item.name}}</h1>
            </div>

            <div *ngIf="item.category">
              <p>Category: {{item.category}}</p>
            </div>

            <div>
              <p>Price: Rs. {{item.price}}.00</p>
            </div>

            <div *ngIf="item.location">
              <p>Location: {{item.location}}</p>
            </div>

            <div>
              <p>Sold by: <a [href]="sellerProfile">{{seller}}</a></p>
            </div>

            <div>
              <div *ngIf="item.isAvailable; else unavailable">
                <p style="color: blue"><strong>Item is available</strong></p>
              </div>
              <ng-template #unavailable>
                <p style="color: red"><strong>Item is not available</strong></p>
              </ng-template>
            </div>

            <div class="buttons" *ngIf="isOwner">
              <button mat-fab color="primary" (click)="editItem()">Edit</button>
              <button mat-fab color="warn" (click)="deleteItem()">Delete</button>
            </div>

            <div class="buttons" *ngIf="isCustomer" style="width: 100%;">
            <span matTooltip="Favourite Item" matTooltipPosition="below" *ngIf="!isFav">
              <button mat-mini-fab color="primary" (click)="favItem()"><mat-icon>favorite</mat-icon></button>
            </span>
              <span matTooltip="Unavourite Item" matTooltipPosition="below" *ngIf="isFav">
              <button mat-mini-fab color="warn" (click)="unfavItem()"><mat-icon>favorite</mat-icon></button>
            </span>
              <button mat-raised-button color="primary" (click)="requestItem()" style="float: right">Request Item</button>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <div class="grid-item">
            <br/>
            <p><strong>Description</strong></p>
            {{item.description}}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>Reviews</mat-card-title>

    <div *ngIf="!reviewsAvailable">
      No reviews have been added for this item
    </div>

    <div *ngIf="reviewsAvailable">
      <div *ngFor="let review of this.reviews">
        <mat-card style="margin-bottom: 5px">
          <h3><strong><a href="/users/customer/{{review.customer.id}}">{{review.customer.username}}</a></strong></h3>

          <p>Rating: <strong>{{review.rating}}</strong>/5</p>
          <p>{{review.review}}</p>

        </mat-card>
      </div>
    </div>

    <span matTooltip="Add Review" matTooltipPosition="after" *ngIf="!reviewAdded && isCustomer" style="position:absolute; bottom: 10px; right: 10px">
      <button mat-mini-fab color="primary" (click)="addReview()"><mat-icon>add</mat-icon></button>
    </span>
  </mat-card>
</div>
