<div style="text-align: center">
  <h1 mat-dialog-title><strong>Edit Review and Rating</strong></h1>

  <mat-dialog-content style="text-align: center">
    <form>
      <div>
        <span><strong>Rating: </strong></span>
        <mat-radio-group [(ngModel)]="review.rating" name="review.rating" style="margin-left: 20px" required>
          <mat-radio-button value=1>1</mat-radio-button>
          <mat-radio-button value=2>2</mat-radio-button>
          <mat-radio-button value=3>3</mat-radio-button>
          <mat-radio-button value=4>4</mat-radio-button>
          <mat-radio-button value=5>5</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <mat-form-field style="width: 90%">
          <textarea matInput placeholder="Add a review..." name="review" [(ngModel)]="review.review" required></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div style="width: 100%; text-align: center">
      <button mat-raised-button color="primary" (click)="onDialogOk()">Submit</button>
      <button mat-raised-button (click)="onDialogCancel()">Cancel</button>
    </div>
  </mat-dialog-actions>

</div>
