<div class="container">
  <div *ngIf="dataAvailable">
    <mat-card>
      <mat-card-title>
        Edit User
      </mat-card-title>

      <mat-card-content>
        <form (submit)="onEditAcc()">
          <div>
            <mat-form-field class="reg-form-field">
              <input placeholder="Email" matInput type="text" [(ngModel)]="user.email" name="email">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="reg-form-field">
              <input type="password" matInput placeholder="New password" [type]="hidePass ? 'password' : 'text'" [(ngModel)]="password" name="password">
              <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="reg-form-field">
              <input type="password" matInput placeholder="Confirm new password" [type]="hideConfPass ? 'password' : 'text'" [(ngModel)]="confPass" name="confPass">
              <mat-icon matSuffix (click)="hideConfPass = !hideConfPass">{{hideConfPass ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="basic" (click)="onCancel()" type="button">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
